@model StoryWebSite.Models.Comment

@{
    ViewData["Title"] = "EditComment";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Edit a Comment</h1>
<hr />


<div>
    <form asp-action="EditComment">
        <div asp-validation-summary="ModelOnly"></div>
        <div class="form-group row">
            <label asp-for="Content" class="col-sm-1 col-form-label"></label>
            <div class="col-sm-6">
                <textarea class="form-control" asp-for="Content" type="text" rows="5"></textarea>
            </div>
            <span asp-validation-for="Content"></span>
        </div>
        <div class="form-group row">
            <input type="submit" class="btn btn-primary mb-2" value="Save" />
        </div>
    </form>
</div>

<div>
    <a asp-action="StoryDetail" asp-route-id="@Model.StoryId">Back to Story</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
