@{
    ViewData["Title"] = "Contact";
}
<h1>@ViewData["Title"]</h1>

<p>If you have any problem or suggestion when using this website, welcome to <a href="mailto:czhu2018@gmail.com">email us</a>.  </p>
