/*all table*/


table th, table td {
    padding: 7px 13px;
    /* border-bottom: 1px solid black;
        */
}

/*Index*/
#storybox {
    border: 1px solid #000000;
    border-radius: 4px;
    width: 30%; /*every image account for 30% of the page*/
    min-width: 250px;
    float: left; /*remove the margine*/
    margin: 1.66%;
    padding: 4px;
}

/*stroy detail*/
#slidebox {
    width: 800px;
    padding: 8px;
    border-radius: 4px;
    border: 1px solid #000000;
}

.slide {
    display: none;
}

.images {
    max-width: 780px;
}

#Caption {
    font-weight: 800;
    align-content: center;
}

.controlbutton {
    border: 1px solid #4d4e4f;
    border-radius: 3px;
    margin-bottom: 15px;
    height: 40px;
    text-align: center;
    background-color: #d7e3f7;
}

    .controlbutton:hover {
        color: white;
        background-color: darkorange;
    }


#switchtime {
    border: 1px solid #4d4e4f;
    border-radius: 3px;
}

#slideLimitation {
    border: 1px solid #4d4e4f;
    border-radius: 3px;
}

#displaytext{
    width: 780px;
    min-height: 50px;
    max-height: 100px;
    border: none;
    outline: none;
    resize: none;
}
#displaycomment {
    width: 780px;
    min-height: 80px;
    max-height: 4000px;
    border: none;
    outline: none;
    resize: none;
}
/*edit story*/
#storytable th, #storytable tr {
    padding: 10px 20px 10px 50px;
}

#textcontent {
    width: 600px;
}

#description {
    width: 400px;
    min-height: 50px;
    max-height: 1000px;
    border: none;
    outline: none;
}


